table {
    width: 100%;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
th {
    width: 25%;
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 25px;
}
th:first-child {
    text-align: center;
}
th:last-child {
    border-right: none;
}
td {
    opacity: 0.7;
    background: #89f98a;
    width: 25%;
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}
td:first-child {
    border-left: 2px solid #56433D;
}