<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
<h2>My profile</h2>
<hr>
<a href="/clinic/main">Go to the main page</a>
<div sec:authorize="hasRole('CLIENT')">
<hr/>
<a href="/client/order">Order a coupon</a>
</div>
<div sec:authorize="hasRole('DOCTOR')">
    <hr/>
    <a href="/doctor/showDays">Show all tickets to me</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <hr/>
    <div th:if="${success}" style="padding-bottom: 10px">
        <div style="color: green; font-size: 15px" th:utext="${success}"></div>
    </div>
    <a href="/admin/chooseSpeciality">Add new doctor</a>
    <hr/>
    <a href="/admin/showClients">Show all clients</a>
    <hr/>
    <a href="/admin/showDoctors">Show all doctors</a>
    <hr/>
    <a href="/admin/showAdmins">Show all admins</a>
</div>
</body>